<div id="footer">
  <div class="social-list">
    <a href=""><i class="ti-facebook"></i></a>
    <a href=""><i class="ti-instagram"></i></a>
    <a href=""><i class="ti-twitter"></i></a>
    <a href=""><i class="ti-youtube"></i></a>
    <a href=""><i class="ti-pinterest"></i></a>
    <a href=""><i class="ti-linkedin"></i></a>
  </div>
  <p class="copyright">Powered by <a href="">w3.css</a></p>
</div>

{{!-- <footer class="bg-light text-center text-lg-start mt-4">
  <!-- Copyright -->
  <div class="social-list">
    <a href=""><i class="ti-facebook"></i></a>
    <a href=""><i class="ti-instagram"></i></a>
    <a href=""><i class="ti-twitter"></i></a>
    <a href=""><i class="ti-youtube"></i></a>
    <a href=""><i class="ti-pinterest"></i></a>
    <a href=""><i class="ti-linkedin"></i></a>
  </div>
  <div class="text-center p-3">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer> --}}