<h1 class="text-center mt-4">Change password</h1>
<section class="form-container mt-4">
    <form class="border border-dark p-5" method="post" action="../u/change-password">
        <label for="">Old password</label>
        <input type="password" name="oldPass" id="oldPass" class="form-control">

        <label for="">New password</label>
        <input type="password" name="newPass" id="newPass" class="form-control">

        <label for="">Confirm new password</label>
        <input type="password" name="cfNewPass" id="cfNewPass" class="form-control">

        <button class="btn my-4 btn-block waves-effect waves-light" type="submit">Change</button>
    </form>
</section>