<div class="container my-4">

    <section class="form-container">

        <!-- Default form register -->
        <form class="border border-dark p-5" method="post" action="../u/my-profile">

            <p class="text-center h4 mb-4">My Profile</p>

            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <label for="">First Name</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" value="{{user.firstName}}">
                </div>
                <div class="col">
                    <!-- Last name -->
                    <label for="">Last Name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" value="{{user.lastName}}">
                </div>
            </div>

            <!-- E-mail -->
            <label for="">Email</label>
            <input type="email" id="email" name="email" class="form-control mb-4" value="{{user.email}}">

            <!-- Username -->
            <label for="">Username</label>
            <input type="text" id="username" name="username" class="form-control mb-4" value="{{user.username}}">

            <!-- Sign up button -->
            <button class="btn my-4 btn-block waves-effect waves-light" type="submit">Update profile</button>

        </form>

    </section>
</div>