<div class="container my-4">

    <section class="form-container">

        <!-- Default form register -->
        <form class="text-center border border-dark p-5" method="POST" action="/api/auth/reset-password">

            <p class="h4 mb-4">Reset password</p>


            <!-- E-mail -->
            <input type="email" id="email" name="email" class="form-control mb-4" placeholder="E-mail">

            
            <!-- New Password -->
            <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New password">
            <small class="form-text text-muted mb-4">At least 8 characters and 1 digit</small>

            <input type="password" id="cfnPassword" name="cfnPassword" class="form-control" placeholder="Confirm new password">

            <!-- Sign up button -->
            <button class="btn btn-info my-4 btn-block waves-effect waves-light" type="submit">Reset password</button>

        </form>

    </section>

</div>